{% extends "base.html" %}

{% block content %}
<div class="card mb-5">
    <div class="card-header">Welcome to the Forum Leaderboards</div>
    <div class="card-body">
        <p class="lead">Explore the leaderboards based on different categories:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="web/pages/all_categories.html" class="text-decoration-none">Leaderboards for All Categories (Including 'Fun & Games')</a>
            </li>
            <li class="list-group-item">
                <a href="web/pages/exclude_games.html" class="text-decoration-none">Leaderboards for All Categories (Excluding 'Fun & Games')</a>
            </li>
            <li class="list-group-item">
                <a href="web/pages/just_general.html" class="text-decoration-none">Leaderboards for General Discussion</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
