<style>
    .table {
        table-layout: auto; /* Dynamic column width */
        width: 100%;
    }
    .table th, .table td {
        white-space: pre-wrap;   /* Preserve whitespace, allowing wrapping only at whitespace */
        word-break: break-word;  /* Break words if necessary */
        max-width: 200px;        /* Optional: Set a max width */
    }
</style>

<div class="card mb-4">
    <div class="card-header">{{ leaderboard.title }}</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    {% for header in leaderboard.headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in leaderboard.data[:print_len] %}
                <tr>
                    <td>{{ loop.index }}</td>  <!-- Use loop.index for 1-based indexing -->
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
